@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background: url(images/bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(images/Leaves.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-box{
    height: 450px;
    width: 400px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    border: 2px solid #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #8B302D;
    z-index: 100;
}

.container-box h1{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
}

.input-box{
    height: 50px;
    width: 100%;
    background: #FEFEFE;
    margin-top: 20px;
    border-radius: 10px;
}

.input-box input{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 10px;
    background: transparent;
    color: #8B302D;
    outline: 0;
    border: 0;
}

input::placeholder{
    font-size: 16px;
    color: #8B302D;
}

.password-box{
    position: relative;
}

.password-box img{
    position: absolute;
    height: 18px;
    right: 10px;
    bottom: 15px;
    cursor: pointer;
}

form button{
    margin-top: 40px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    outline: 0;
    background: #8D2C22;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background: #9e2e21d8;
}

.forget{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

